APP_NAME=RayoCaster
STATION_NAME=Radio Universitaria
SESSION_SECRET=CAMBIAR_POR_SECRETO_DE_48_BYTES
ADMIN_EMAILS=prueba@unico.edu.co
FIREBASE_PROJECT_ID=radio-unioc
FIREBASE_DATABASE_URL=https://radio-unioc-default-rtdb.firebaseio.com
FIREBASE_DATA_ROOT=rayocaster
FIREBASE_SERVICE_ACCOUNT_BASE64=PEGAR_JSON_CUENTA_SERVICIO_EN_BASE64
STREAM_TOKEN_PRIVATE_KEY_BASE64=PEGAR_PKCS8_ED25519_EN_BASE64
WEB_SESSION_HOURS=8
BOOTSTRAP_CODE_SECONDS=90
LEASE_GRACE_SECONDS=15
